---
apiVersion: v1
kind: Pod
metadata:
  name: {{ consumer_pod_name }}
  namespace:
  labels:
    app: {{ consumer_pod_name }}
spec:
  containers:
      name: {{ consumer_pod_name }}
      image:
      env:
        - name: NAMESPACE
          value: {{ debezium_namespace }}
        - name: BOOTSTRAP_SERVER
          value: {{ kafka_bootstrap_url }}
        - name: CLIENT_ID
          value: {{ kafka_sa_client_id }}
        - name: CLIENT_SECRET
          value: {{ kafka_sa_client_secret }}
